@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&family=Josefin+Sans:ital@0;1&family=Liter&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: rgb(83,119,204); 
  font-family: "Liter", serif;
  background: linear-gradient(0deg, rgb(127, 158, 231) 0%, rgb(209, 230, 241) 100%);
  background-repeat: no-repeat;
  height: 97.9vh;
}

svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#root, #__next {
  isolation: isolate;
}

.chat-body {
    width: 80%;
    margin: 1em auto 0 auto;
    background-color: #fff;
    border-radius: 0.6em 0.6em 0 0;
    height: 80%;
    padding: 1.8em 2em;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e0d9d9 transparent ;
}

.chat-message {
    max-width: 50%;
    margin: 0.5em 0;
}

.bot-message {
    display: flex;
    align-items:flex-end;
    gap: 0.5em;
}

.chat-body .bot-message .bot-icon{
    max-height: 1.8em;
    max-width: 1.8em;
    min-height: 1.8em;
    min-width: 1.8em;
    padding: 0.2em;
    background:#6e8de4 ;
    fill: #fff;
    border-radius: 50%;
}

.message-text {
    max-width: 50%;
    min-width: fit-content;
    padding: 0.8em ;
    overflow-wrap: break-word;
    word-break: break-all;
}

.bot-message .message-text {
    background-color: #e0d9d9;
    border-radius: 1.4em 1.4em 1.4em 0 ;
}

.user-message {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 0.5em;
   align-self: flex-end;
}

.user-message .message-text {
    background-color: #6e8de4;
     border-radius: 1.4em 1.4em 0 1.4em ;
     color: #fff;
}

.user-attachment {
    width: 60%;
    border-radius: 0.6em;
}

.thinking-indicator {
    display: flex;
    gap: 0.2em;
    padding-block: 0.4em;
}

.dot {
    height: 0.3em;
    width: 0.3em;
    background-color: #95abec;
    border-radius: 50%;
    opacity: 0.8;
    animation: dotpulse 1.8s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.2s;
}
.dot:nth-child(2) {
    animation-delay: 0.4s;
}
.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes dotpulse {
    0%, 40% {
        transform: translateY(0);
    }

    25% {
        opacity: 0.6;
        transform: translateY(-4px);
    }

    40% {
        opacity: 0.4;
    }
}

.chat-footer {
    width: 80%;
    height: 15%;
    padding: 1.5em 0.6em 0.5em 0.6em;
    background: #fff;
    margin: 0 auto 3em auto;
    border-radius: 0 0 0.6em 0.6em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.chat-form {
    position: relative;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 1.5em;
    border: 0.1em solid #CCCCE5;
}

.chat-form:focus-within {
  outline: 2px solid #7f7f88;
 }

.message-input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    min-height: 2.5em;
    font-size: 0.9em;
    padding: 0 0.8em;
}

.chat-controls {
    display: flex;
    justify-content: center;
    padding-right: 0.7em;
} 

.chat-controls button {
    align-self: center;
    width: 1.65em;
    height: 1.54em;
    font-size: 1.1rem;
    border: none;
    background: #fff;
    color: #7f7f88;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    transition: 0.3s ease;

}
button:hover {
    background: #CCCCE5;
}

#submit-message {
    background: #164ada;
    display: none;
    color: #fff;
    margin-left: 0.5em;
}

#submit-message:hover {
    background: #02268a;
}

.message-input:valid~.chat-controls #submit-message {
    display: block;
}

.file-upload-wrapper {
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.file-upload-wrapper :where(img, button) {
    position: absolute;
}

.file-upload-wrapper img {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.file-upload-wrapper :where(img, #file-cancel) ,
.file-uploaded #file-output {
    display: none;
}


.file-uploaded img, 
.file-uploaded:hover #file-cancel  {
    display: block;
}

#file-cancel {
    color: #ff0000;
    background: #fff;
}

em-emoji-picker{
  position: absolute;
  max-width: 24em;
  max-height: 20em;
  width: 100%;
  left: 35%;
  visibility: hidden;
  transform: translateY(-58%);
}

body.show-emoji-picker em-emoji-picker {
    visibility: visible;
}

@media (max-width: 520px) {
    body {
        height: 93vh;
    }
    .chat-body {
        margin-top: 5em;
        height: 70%;
    }
    .chat-footer {
       height: 10%;
       margin-bottom: 1em;
    }
    .chat-form {
        width: 80%;
    }
}